
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İstatistikler</h2>
<div class="Alert alert-danger">Kategori Sayısı: @ViewBag.categorysayisi</div>
<div class="Alert alert-danger">proje Sayısı: @ViewBag.projesayisi</div>

