<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/10yztjm.jpeg);"></div>
            <h3>Fatih Serbest</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Dashborad</a>
        </li>
        <li>
            <a href="~/Templates/CV Fatih Serbest.pdf"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Cv mi İndir</a>
        </li>
        <li>
            <a href="/Category/CategoryList/"><span class="fa fa-th-large mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/ProjectList"><span class="fa fa-line-chart mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Testimonial/TestimonialList"><span class="fa fa-users mr-3"></span> Referanslarım</a>
        </li>
        <li>
            <a href="/About/AboutList"><span class="fa fa-university mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Service/ServiceList"><span class="fa fa-sitemap mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/Feature/FeatureList"><span class="fa fa-star mr-3"></span> Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Contact/ContactList"><span class="fa fa-comment-o mr-3"></span> Mesajlarım </a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış</a>
        </li>
    </ul>

</nav>