@model List<AcunMedyaAkademiPortfolio.Models.TblFeature>
@foreach (var item in Model)
{
    <section id="home" class="main-banner parallaxie" style="background: url('@item.ImageUrl') no-repeat center center; background-size: cover;">
        <div class="heading">
            <h1>Merhaba Ben @item.NameSurname</h1>
            <p>"@item.Description</p>
            <h3 class="cd-headline clip is-full-width">
                <span class="cd-words-wrapper">
                    <b class="is-visible">@item.ProjectName</b>
                </span>
            </h3>
        </div>
    </section>
}