﻿﻿<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a class="nav-link js-scroll-trigger active" href="#home">Ana Sayfa</a>
                    <a class="nav-link js-scroll-trigger" href="#about">Hakkımda</a>
                    <a class="nav-link js-scroll-trigger" href="#services">Hizmetlerim</a>
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Projelerim</a>
                    <a class="nav-link js-scroll-trigger" href="#testimonials">Referanslarım</a>
                    <a class="nav-link js-scroll-trigger" href="#contact">İletişim</a>
                </p>
                <p class="footer-company-name">
                    Tüm Hakları Saklıdır. &copy; 2025 <a href="#"></a> Design By :
                    <a href="https://html.design/">Fatih Serbest</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>