@model AcunMedyaAkademiPortfolio.Models.TblProject
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Testimonial Ekleme Sayfası</h2>

<form method="post">
    <label>Testimonial konusu</label>
    <textarea rows="4" class="table table-bordered" name="Title"></textarea>
    <br />
    <label>Testimonial Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description"></textarea>
    <br />
    <label>Ad Soyad</label>
    <textarea rows="4" class="table table-bordered" name="NameSurname"></textarea>
    <br />
    <label>Testimonial Image Url</label>
    <textarea rows="4" class="table table-bordered" name="ImageUrl"></textarea>
    <br />
    <label>Testimonial Mesleği</label>
    <textarea rows="4" class="table table-bordered" name="Job"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>